<!DOCTYPE html>
<html lang="en">
<head>
      <title> Blissful Abode | {{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta name="keywords" content="Blissful Abode Homestay, Travel, Traveller, Heritage, Homestay, Kerala , Palakkad, Ottappalam, Ananganadi , Panamanna , Eco Tourism" />

      <!-- //for-mobile-apps -->
      <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <link href="{{site.baseurl}}{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
			
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 		

      <link rel="stylesheet" href="{{site.baseurl}}/css/flexslider.css" type="text/css" media="screen" />

      <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css" media="all" />
      <link href="{{site.baseurl}}/css/tabs.css" rel="stylesheet" type="text/css" />
      <link href="{{site.baseurl}}/css/form.css" rel="stylesheet" type="text/css" />
      <link href="{{site.baseurl}}/css/simpleLightbox.css" rel="stylesheet" type="text/css" />

      <!--fonts-->
      <link href="//fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

      <!--//fonts-->

   </head>
   <!-- //Head -->
 
  <body>
     
    <!-- TOP HEADER -->
    <div class="top">
      <div class="container-fluid">
        <div class="col-md-6 top-left">
          <ul>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> +91 99 71 33 11 66</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Vappala, Ananganadi, Ottappalam</li>
          </ul>
        </div>
        <div class="col-md-6 top-middle">
          <ul>
            <li><a href="https://www.facebook.com/BlissfulAbode/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        
          </ul>
        </div>
        <div class="clearfix"></div>
      </div> 
    </div> 

    <!-- //TOP HEADER -->
    
    
<!--Header-->
	<div class="header" id={{ page.id }}>
		<!--Top-Bar-->
			<div class="top-bar">
				<div class="container-fluid">
					<div class="header-nav">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1><a class="navbar-brand" href="index.html">Blissful <span> Abode</span></a></h1>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<nav class="cl-effect-15" id="cl-effect-15">
								<ul>
									<li><a href="#home" class="active" data-hover="Home">Home</a></li>
									<li><a href="#about" class="scroll" data-hover="About">About</a></li>
									<li><a href="#activities" class="scroll" data-hover="Activities">Activities</a></li>
									<li><a href="#tariff" class="scroll" data-hover="Tariff">Tariff</a></li>
									<li><a href="#gallery" class="scroll" data-hover="Gallery">Gallery</a></li>
									<!-- <li><a href="#testimonials" class="scroll" data-hover="Testimonials">Testimonials</a></li> -->
									<li><a href="#contact" class="scroll" data-hover="Contact">Contact</a></li>
								</ul>
								</nav>
							</div>
						</nav>
					<!-- 	<div class="w3ls_search">
							<div class="cd-main-header">
								<ul class="cd-header-buttons">
									<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
								</ul>  -->
               <!-- cd-header-buttons -->
							<!-- </div>
							<div id="cd-search" class="cd-search">
								<form action="#" method="post">
									<input name="Search" type="search" placeholder="Type Text And Press Enter...">
								</form>
							</div>
						</div> --> 
					</div>
				</div>
			</div>
		<!--//Top-Bar-->
    
    
    {% if page.frontpage %}
		<!--Slider-->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<div class="slider-info">
							<h3>To travel is to take journey.</h3>
						    <p> We are not open for public yet. Please check back for an awesome experience</p>
							<!-- <div class="readmore-w3">
								<a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
							</div> -->
						</div>
					</li>
					<li>
						<div class="slider-info1">
							<h3>I travel not to escape life.</h3>
							<p> We are not open for public yet. Please check back for an awesome experience</p>
							<!-- <div class="readmore-w3">
								<a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
							</div> -->
						</div>
					</li>
					<li>
						<div class="slider-info2">
							<h3>Travel makes one modest.</h3>
							<p> We are not open for public yet. Please check back for an awesome experience.</p>
						<!-- 	<div class="readmore-w3">
								<a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
							</div> -->
						</div>
					</li>
				</ul>

			</div>
			<div class="clearfix"></div>
		</div>		
		<!--//Slider-->
    {% endif %}
    
	</div>
<!--//Header-->
    
